<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="public/css/style.css" type="text/css"/>

   

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
     <script src="https://kit.fontawesome.com/3f9cd1599d.js" crossorigin="anonymous"></script>
    

    <title> Xxov </title>

</head>

<body class="black">
    <div class= "container">
    {{{ body }}}

 </div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="public/js/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js"></script>


    <script type = "text/javascript">
        $(document).ready(function(){
            $(".addCommentButton").on("click", function (event) {
            event.preventDefault();
            let articleId = $(this).data("id"); 
         
            var commentForm = "form-add-" + articleId; 
            var form = $("#" + commentForm); 

            $.ajax("/api/comments/" + articleId,{
                type: "POST", 
                data: form.serialize(),
            })
            .done(function() {
                console.log("comment submitted")
            })
            });
        });
    
    
    
    </script>
</body>
</html>