<nav>
    <div class="nav-wrapper indigo lighten-3">
    <a href="#" class="brand-logo center">Welcome to Xxov</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="">Sass</a></li>
        <li><a class="waves-effect waves-light btn" id="newScrape">Scrape</a></li>
   
        
        
    </ul>
    </div>
</nav>

{{#each scrapeArticles}}


    <div class="row">
        <div class="center-align col s12 m12 l12">
        <div class="center card-panel blue darken-1">
            <span class="white-text">{{this.title}}</span>
            <br></br>
            <span class="white-text"> {{this.summary}}</span>
            <br></br>
            <a class="waves-effect waves-light btn" href="{{this.link}}" target="_blank"><i class="material-icons right">cloud</i>More? Click here.</a>
             <br><br>
            <span class="white-text">Drop your name and thoughts below</span>
           
            <div class="row blue darken-1">
            <form class="col s12">
             
          
                <!--- name input ---> 
                <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="icon_prefix" type="text" class="validate">
                <label for="icon_prefix">First Name</label>
                </div>
                <!--- comment ---> 
                <div class="input-field col s6">
                <i class="material-icons prefix">mode_edit</i>
                <textarea id="textarea1" class="materialize-textarea"></textarea>
                <label for="textarea1">You Comment</label>
                </div>
            
            </form>
            <!--- comment submit button ---> 
            <button class="btn waves-effect waves-light addCommentButton" data-id={{id}} type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
            <br></br>
           <!--- comments display --->
            <ul class="collapsible z-depth-3">
                <li>
                <div class="collapsible-header"><i class="material-icons">cloud</i>View Comments</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
            </ul>
        </div>
           
            
            
            
        </div>
        </div>
    
  
{{/each}}