<nav>
    <div class="nav-wrapper">
    <a href="#" class="brand-logo center">Logo</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="">Sass</a></li>
        <li><a class="waves-effect waves-light btn" id="newScrape">Scrape</a></li>
   
        
        
    </ul>
    </div>
</nav>

{{#each Articles}}


    <div class="row">
        <div class="col s12 m5">
        <div class="card-panel teal">
            <span class="white-text">
           {{this.title}}
            </span>
            <p>Want more? <a href="{{this.link}}" target="_blank">Click here.</a></p>
        </div>
        </div>
    </div>
  
{{/each}}